.tweet {
    background-color: #f5f8fa; 
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  .tweet p {
    margin: 0; 
  }
  
  .tweet .username {
    font-weight: bold; 
  }
  
  .tweet .date {
    color: #8899a6; 
  }